@font-face {
    font-family: 'Tower of Silence';
    src: url('../assets/fonts/TowerofSilence.woff2') format('woff2'),
        url('../assets/fonts/TowerofSilence.woff') format('woff');
    font-weight: normal;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Tower of Silence';
    font-size: 16px;
    cursor: pointer;
}
.main_box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.cards_inventors {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
}

.card {
    position: relative; /* hinzugefügt */
    z-index: 2; /* über dem Symbol */
    color: blue;
    background-color: silver;
    border-top: 5px solid rgba(255, 255, 255, 0.438);
    border-left: 5px solid rgba(255, 255, 255, 0.459);
    box-shadow: 3px 3px 3px rgba(114, 117, 113, 0.866);
    width: 300px;
    height: 540px;
    border-radius: 20px;
    text-align: center;
    transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
    margin-bottom: 60px;
  }

.card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 10px rgba(26, 6, 143, 0.479);
}

.img_person {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 10px solid rgba(85, 219, 224, 0.62);
    display: block;
    background-color: #f5f5f5; 
}

.info {   
    position: absolute;
    top: 10px;
    right: 12px;
    border-bottom-left-radius: 10px;
}
.img_inv{
    height:50px;
}

.card-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 8px 8px 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-properties {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    width: 100%;
}

.card-badge {
    display: block;
    font-size: 14px;
    text-transform: lowercase;
    background-color: #dfd8d6;
    border-radius: 10px;
    padding: 4px 8px;
}

.text_info {
    font-size: 18px;
    text-align: left;
}

/* Shadow Logo */
  .superman-symbol {
    position: absolute;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%) scale(2.5);
    opacity: 0;
    transition: all 400ms ease-in-out;
    width: 120px;
    z-index: 1; /* behind the Card */
    filter: grayscale(70%) brightness(0.5); 
    pointer-events: none;
  }
  
  .card:hover .superman-symbol {
    opacity: 0.1;
    bottom: 180px;
  }
  
  .comic_container{
    display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
  }